project:
  type: book
  output-dir: docs

book:
  title: "マーケティング・データ分析の学習メモ"
  reader-mode: true
  page-footer:
        border: true
        background: "#a10000"
        left: "Copyright 2025, Soichi Matsuura"
        right:
          - icon: house
            href: https://so-ichi.com/r.html
          - icon: github
            href: https://github.com/ma2ura
          - icon: twitter
            href: https://twitter.com/matsuura_rits
            aria-label: Twitter
  cover-image: img/tagashira.jpg
  favicon: img/favicon.ico
  site-url: https://so-ichi.com/r.html
  repo-url: https://github.com/ma2ura/Marketing_Data_Analysis/
  repo-branch: main

  chapters:
    - index.qmd
    - part: part01.qmd
      chapters:
        - chapter04.qmd
    - part: part02.qmd
      chapters:
        - chapter05.qmd
        - chapter06.qmd
        - chapter07.qmd
        - chapter08.qmd
    - part: part03.qmd
      chapters:
        - chapter10.qmd
        - chapter11.qmd
        - chapter12.qmd

format:
  html:
    theme:
      - cosmo
      - styles.scss
    mainfont: "Noto Sans JP"
    monofont: "0xProto"
    # fontsize: 1.2em
    # code-ling: true
    html-math-method: katex
    author-meta: "Soichi Matsuura"
    # callout-appearance: simple
    code-copy: hover
    code-overflow: scroll
    # code-link: true
    code-line-numbers: true
    link-external-icon: true
    df-print: paged
    twitter-card: true
    page-navigation: true
    back-to-top-navigation: true
    include-in-header:
      text: |
        <style>
        .marky {
          background: linear-gradient(transparent 60%, #FCFFC1 0%);
        }
        .markb {
          background: linear-gradient(transparent 60%, #88E2EA 0%);
        }
        .markp{
          background: linear-gradient(transparent 70%, #ffcdd2 0%)
        }
        </style>
  pdf:
    pdf-engine: lualatex
    documentclass: ltjsbook
    prefer-html: true
    include-in-header:
      - text: |
          \usepackage{float}
          \usepackage{caption}
          \usepackage{longtable}
          \usepackage{placeins}
          \usepackage{booktabs}
          \usepackage{indentfirst}
          \setlength{\parindent}{2em}
          \setlength{\parskip}{0pt}
          \usepackage{fvextra}
          \DefineVerbatimEnvironment{Highlighting}{Verbatim}{breaklines,commandchars=\\\{\}}
knitr:
  opts_chunk:
    dev: ragg_png     # 文字化け防止
    dpi: 450          # 高解像度の図を使用（サイズ大きめ）
    fig-align: center # 図は中央揃え
    warning: false    # 警告メッセージを消す
    message: false    # 通常メッセージを消す
