.callout.callout-style-default .callout-body {
  font-size: 0.8rem;
}

.marky {
  background: linear-gradient(transparent 60%, #FCFFC1 0%);
}

.markb {
  background: linear-gradient(transparent 60%, #88E2EA 0%);
}

.markp {
  background: linear-gradient(transparent 70%, #ffcdd2 0%)
}